body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: "#777";
  background: "#777";
  width: "960px";
  font-size: "18px";
  text-align: center;
  margin: auto;
}

header {
  background: #ebebeb;
  color: #777;
  margin: 10px;
  padding: 20px;
}

nav {
  background: #ebebeb;
  color: #777;
  margin: 10px;
  padding: 20px;
}

section {
  background: #ebebeb;
  color: #777;
  margin: 10px;
  padding: 20px;
  width: 495px;
}

article {
  background: #ebebeb;
  color: #777;
}

h1 {
  background: #ebebeb;
  color: #777;
}

p {
  background: #ebebeb;
  color: #777;
}

aside {
  background: #ebebeb;
  color: #777;
}

footer {
  background: #ebebeb;
  color: #777;
}
